<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class='active'>Magic Gate</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button style="margin-left:10px">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<div>
    <div style="float: left; width: 200px;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageA" ></div>
                <mat-card-title>Amazon</mat-card-title>
                <mat-card-subtitle>Amazon.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/amazonIcon.png" width="30" height="150" alt="AmazonIcon" (click)=AmazonLink()>
            <mat-card-content>
                <p>
                    Open Amazon.in
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=AmazonLink()>Go To Amazon</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="float: left;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageF"></div>
                <mat-card-title>Flipkart</mat-card-title>
                <mat-card-subtitle>Flipkart.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/FlipkartIcon.png" width="30" height="150" alt="FlipkartIcon" (click)=FlipkartLink()>
            <mat-card-content>
                <p>
                    Open Flipkart.in
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=FlipkartLink()>Go To Flipkart</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="float: left;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageM"></div>
                <mat-card-title>Myntra</mat-card-title>
                <mat-card-subtitle>Myntra.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/MyntraIcon.jpg" width="30" height="150" alt="AmazonIcon" (click)=MyntraLink()>
            <mat-card-content>
                <p>
                    Open Myntra.in
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=MyntraLink()>Go To Myntra</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="float: left;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageP"></div>
                <mat-card-title>Paytm</mat-card-title>
                <mat-card-subtitle>Paytm.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/PaytmIcon.png" width="30" height="150" alt="AmazonIcon" (click)=PaytmLink()>
            <mat-card-content>
                <p>
                    Open Paytm.in
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=PaytmLink()>Go To Paytm</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="float: left;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageNy"></div>
                <mat-card-title>Nykaa</mat-card-title>
                <mat-card-subtitle>Nykaa.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Nykaa.png" width="30" height="150" alt="AmazonIcon" (click)=NykaaLink()>
            <mat-card-content>
                <p>
                    Open Nykaa.com
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=PaytmLink()>Go To Nykaa</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div style="float: left;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="header-imageBMS"></div>
                <mat-card-title>BookMyShow</mat-card-title>
                <mat-card-subtitle>BookMyShow.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Bookmyshow.png" width="30" height="150" alt="AmazonIcon" (click)=BookMyShowLink()>
            <mat-card-content>
                <p>
                    Open BookMyShow.com
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="text-align: center;" (click)=PaytmLink()>Go To BookMyShow</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>